@{
    ViewBag.Title = "Home Page";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">VINCULAR CURSOS/PROFESSORES</h6>
    </div>
    <div class="card-body">
        <form action="@Url.Action("VincularValores", "Home")" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">

                <select id="idMateria" name="idMateria" class="form-control">
                    @foreach (var item in ViewBag.ListaMaterias)
                    {
                        <option value="@item.IdMateria">@item.NomeMateria</option>
                    }
                </select>
                &nbsp;
                &nbsp;
                <select id="idProfessor" name="idProfessor" class="form-control">
                    @foreach (var item in ViewBag.ListaProfessor)
                    {
                        <option value="@item.IdProfessor">@item.NomeProfessor</option>
                    }

                </select>
                &nbsp;
                &nbsp;

                <input style="color:white" class="btn btn-success btn-icon-split" type="submit" value=" VINCULAR VALORES ">
            </div>
        </form>
        <BR /><BR />
        <div class="table-responsive">

            <!-- Topbar Search -->


            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th># CÓDIGO</th>
                        <th>CURSO</th>
                        <th>PROFESSOR</th>


                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.ListaMateriasProfessor)
                    {

                        <tr>
                            <td>@item.IdMateriasProfessores</td>
                            <td>@item.NomeMateria</td>
                            <td>@item.NomeProfessor</td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>